.layout {
  display: flex;
  flex-direction: row;
  flex: 1;

  &__nav {
    width: 60px;
    background-color: #fff;
    border-right: 2px solid #DFE1E5;
    display: flex;
    flex-direction: column;

    &--separator {
      flex-grow: 1;
    }

    &--link {
      width: 60px;
      height: 60px;
      box-sizing: border-box;
      padding: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #DFE5EE;
      }
    }
  }
  
  &__main {
    flex-grow: 1;
    box-sizing: border-box;
    background-color: #F2F3F7;
  }
}

.content {
  &__panel {
    margin: $panel-gap;
    padding: $panel-gap;
    border-radius: 5px;
    background-color: #fff;
  }
}