.home {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.table-wrapper {
  flex: 0.7;

  &__table {
    border-radius: 10px;

    &__actions {
      display: flex;
      flex-direction: row;
      gap: 4px;
    }
  }
}

.delivery-info {
  flex: 0.3;
}